POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=Vocalu
POSTGRES_PORT=5432
DATABASE_URL=postgresql://user:password@localhost:5432/Vocalu

VITE_APP_URL=http://localhost:3000

VITE_APP_USER_ID=1